name: PHP Composer

on:
  push:
    branches:
    - master
    - 'releases/**'
    - 'feature/**'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: [ '8.3', '8.3' ]

    steps:
      - uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: ${{ matrix.php-versions }}

      - run: composer install --prefer-dist --no-progress --no-suggest
      - run: composer validate
      - run: composer crc
      - run: composer unuse
      - run: composer cs-check
      - run: composer phpstan
      - run: composer phpunit
